# Dependencies
node_modules
.pnpm-store

# Build output
dist
coverage
*.log

# Generated JSON Schemas (written by apps/docs prebuild)
apps/docs/public/schemas

# Editors and OS
.DS_Store
.vscode
.idea
*.tsbuildinfo

# Astro
.astro